.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  background: rgba(0,0,0, 0.5);
  z-index: 1000;
  width: 100vw;

  &.active {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__content {
    padding: 40px;
    background: #FFF;
    border-radius: 20px;
    min-width: 200px;
    @media screen and (max-width: 768px) {
      margin: 10px;
      padding: 20px;
    }
  }
}


