.map-box {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    &__body {
        filter: brightness(94%);
    }
}

.anchor {
    &__current {
        > svg >g {
            position: relative;
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 36px;
                height: 36px;
                background: url("../img/icon/anchor-view.svg") center/contain no-repeat;
            }
        }
    }

}

.pigeon-attribution{
    display: none !important;
}