.section-page {
  height: 100%;
  //display: flex;
  //flex-direction: column;
  &__tit {
    padding-bottom: 40px;
    @media screen and (max-width: 880px) {
      padding-bottom: 20px;
    }
  }

  &__options {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    &:not(:last-child){
      padding-bottom: 40px;
    }
    @media screen and (max-width: 880px) {
      &:not(:last-child){
        padding-bottom: 20px;
      }
    }
  }

  &__search {
    flex-grow: 1;
    .search__form {
      width: 100%;
      background: $lightColor;
    }
  }

  &__filter {
  }
  &__content {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    margin: 0 -10px;
  }

  &__section-list {
    flex: 0 1 40%;
    padding: 0 10px;

  }

  &__device-list {
    flex: 0 1 60%;
    padding: 0 10px;
  }
  @media screen and (max-width: 768px) {
    &__content{
      row-gap: 10px;
      flex-direction: column;
    }
  }
}
.section-list {

  &__wrap {
    width: 100%;
    height: calc(100vh - 200px);
    border-radius: 10px;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      width: 0;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  @media screen and (max-width: 1140px) {
    &__wrap {
      height: calc(100vh - 232px);
    }
  }
  @media screen and (max-width: 880px) {
    &__wrap {
      height: calc(100vh - 190px);
    }
  }
  @media screen and (max-width: 768px) {
    &__wrap {
      height: calc(100vh - 390px);
    }
  }
}
.item-section-list {

  &__wrap {
    padding: 20px;
    background: $lightColor;
    border-radius: 10px;
    cursor: pointer;
    &.active {
      background: #fff;
      border: 1px solid #ED3420;
      &:hover {
        background: #fff;
      }
    }
    &:hover {
      background: #e8e8e8;
    }
  }

  &__name {
    &:not(:last-child) {
      padding-bottom: 10px;
    }
  }

  &__km {
  }
}

.device-list {
  &__wrap {
    width: 100%;
    height: 100%;
    background: #F5F5F5;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }

  &__list {
    flex-grow: 1;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  .list-device {
    &__box {
      max-height: calc(100vh - 300px);
      height: calc(100vh - 300px);
    }
  }

  &__btn-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 -10px;
  }
  &__btn-wrap {
    flex: 0 1 50%;
    padding: 0 10px;
    height: 100%;
    .btn {
      width: 100%;
      height: 100%;
      text-align: center;
      background: #FFFFFF;
      font-size: 13px;
      &:hover {
        background: rgba(237, 52, 32, 0.03);
      }
      &--is-delete{
        background: #CA584C26;
      }
    }

  }
  @media screen and (max-width: 1140px) {
    .list-device {
      &__box {
        max-height: calc(100vh - 332px);
        height: calc(100vh - 332px);
      }
    }
  }
  @media screen and (max-width: 768px) {
    .list-device {
      &__box {
        max-height: 100%;
        height: 100%;
      }
    }
  }
}

@media screen and (max-width: 360px) {
  .section-page__search .search__form{
    width: calc(100vw - 90px);
  }
  .device-list__btn-list {
    flex-direction: column;
    row-gap: 10px;
  }
  .device-list__btn-wrap {
    width: 100%;
  }
  .device-list__wrap {
    padding: 18px;
  }
  .section-list__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
